# Node.js dependencies
node_modules/

# Python virtual environments inside ml-models
server/uploads/ml-models/venv/

# EFS
efs

# Environment variables
server/.env

# Python cache files
__pycache__/
*.pyc

# Log files
*.log

# Exclude dataset directories
server/uploads/datasets
