<%- include('components/navbar') %>

<div class="container">
  <h1>Datasets</h1>
  <p>Explore the available datasets below.</p>

  <div class="row">
    <% datasets.forEach(dataset => { %>
      <div class="col-md-4">
        <%- include('components/card', {
          item: {
            heading: dataset.heading,
            author: dataset.author,
            retrieval_link: dataset.retrieval_link,  // External link if provided
            imageUrl: dataset.imageUrl || '/img/default.jpg'  // Use default image if none is provided
          }
        }) %>
      </div>
    <% }); %>
  </div>
</div>
