<%- include('components/navbar') %>

<div class="container">
  <h1>Datasets</h1>
  <p>Explore the available datasets below.</p>

  <div class="row">
    <% datasets.forEach(dataset => { %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= dataset.title %></h5>
            <p class="card-text"><%= dataset.description %></p>
            <a href="/datasets/<%= dataset.id %>/info" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>
